

<div id="main-container">
    <h1>Burgers</h1>
    <div id="input-container">
        <input type="text" id="burger-input">
        <button type="submit" id="burger-button">Add Burger!</button>
    </div>

    <div class="container">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li class="burger" data-devoured="{{devoured}}" data-id="{{id}}">
                <span>{{burger_name}}</span>
                <button type="submit" class="devour-button" data-id={{id}}>Devour!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="devoured container">
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li class="burger" data-devoured="{{devoured}}" data-id="{{id}}">
                <span>{{burger_name}}</span>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>